.topbar {
    height: 10vh;
    width: 100%;
    z-index: -1;
    position: fixed;
    right: 0px;
    top: 0px;
    background-color: #A9C0E7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    .user-info {
        display: flex;
        align-items: center;
        gap: 15px;
        
        p {
            font-family: "Inter";
            color: white;
            font-size: 24px;
            margin: 0;
            padding: 0;
        }
    }

    .logout-btn {
        background-color: #E3F4FF;
        color: #3866B4;
        border: none;
        padding: 10px 15px;
        border-radius: 12px;
        cursor: pointer;
        font-size: 1rem;
        font-family: "Inter";
        transition: background 0.3s ease-in-out;

        &:hover {
            background-color: #C0D9F5;
        }
    }
}

.faketopbar {
    height: 10vh;
    width: 100%;
}